
<!doctype html>
<html lang="en">
  <head>
    <script>
    window.location = "/shop/";
  </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, This is my First Django Project!</h1>
      <center><h3>I Made Two Modules in one Project.</h3></center><br><br>
        <h5>1. My Awesome Cart : This is a E-commerce WebSite like Amazon, FlipKart You can buy Products,Add to cart Products and these Prodcuts are listed Cateory wise.
        <br><br>
        2. MY Blog : This WebSite is Under Development.</h5>


    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <h3>Wich Page You wolud like to visit ?</h3>
    <div class="row">

      <div class="col-md-6">
              <p><a class="btn btn-primary btn-lg" href="/shop" role="button">My Awesome Cart </a></p>
      </div>
      <div class="col-md-6">
              <p><a class="btn btn-primary btn-lg" href="/blog" role="button">My Blog </a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2019</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>